---
name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron: 0 1 * * *

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.12', '3.13', '3.14']
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v6

        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: '**/pyproject.toml'

      - name: Build sample
        # Use bash to ensure the step fails if any command fails.
        # PowerShell does not fail on intermediate command failures by default.
        shell: bash
        run: |
          uv run --extra=sample --python=${{ matrix.python-version }} sphinx-build -W -b notion sample/ build-sample/

      - name: Run tests
        # Use bash to ensure the step fails if any command fails.
        # PowerShell does not fail on intermediate command failures by default.
        shell: bash
        run: |
          # We run tests against "." and not the tests directory as we test the README
          # and documentation.
          uv run --extra=dev --python=${{ matrix.python-version }} pytest -s -vvv --cov-fail-under 100 --cov=src/ --cov=tests/ .

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: '**/pyproject.toml'

      - name: Run lint
        # Use bash to ensure the step fails if any command fails.
        # PowerShell does not fail on intermediate command failures by default.
        shell: bash
        run: |
          uv run --extra=dev prek run --all-files --hook-stage pre-commit --verbose
          uv run --extra=dev prek run --all-files --hook-stage pre-push --verbose
          uv run --extra=dev prek run --all-files --hook-stage manual --verbose
        env:
          UV_PYTHON: '3.13'

      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()

  completion-ci:
    needs: [build, lint]
    runs-on: ubuntu-latest
    if: always()  # Run even if one matrix job fails
    steps:
      - name: Check matrix job status
        run: |-
          if ! ${{ needs.build.result == 'success' }}; then
            echo "One or more matrix jobs failed"
            exit 1
          fi
